.app-container{
  text-align: center;
  padding: 2rem;
  font-family: 'Poppins', sans-serif;
  color: #333
}

h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.discover-button {
  padding: 0.5rem 1rem;
  margin: 1rem;
  background-color: #ffb347;
  color: white;
  border: none;
  border-radius: 6px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.discover-button:hover {
  background-color: #ff944d
}